# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  tags:
    include:
      - v*
pr: none

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'enoflagazure'
    repository: 'ChallengePad'
    command: 'buildAndPush'
    Dockerfile: '$(Build.SourcesDirectory)/ChallengePad/Dockerfile'
    buildContext: '$(Build.SourcesDirectory)/ChallengePad'
    tags: '$(tag)'
