# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  tags:
    include:
      - v*
pr: none

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

pool:
  vmImage: 'ubuntu-latest'

steps:
- powershell: $t = '$(Build.SourceBranch)'.Substring(10).Replace('/','').Replace('v',''); echo "##vso[task.setvariable variable=value;isOutput=true]$t"
  name: GetGithubTag

- task: Docker@2
  inputs:
    containerRegistry: 'enoflagazure'
    repository: 'enoflag/challengepad'
    command: 'buildAndPush'
    Dockerfile: '$(Build.SourcesDirectory)/ChallengePad/Dockerfile'
    buildContext: '$(Build.SourcesDirectory)/ChallengePad'
    tags: |
      latest
      $(GetGithubTag.value)
      az$(tag)
