@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body,
html {
    height: 100%;
}

app {
    height: 100%;
    display: flex;
    flex-flow: column;
}

ul.operation-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0 0 0 0;
}

.cover {
    width: 95%;
    padding: 0 40px 40px 40px;
    margin-right: auto;
    margin-left: auto;
}

.operation-btn {
    height: 128px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 15px;
    margin: 10px 0;
    border: 5px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operation-btn > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0 0;
}

#container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
}

#header {
    flex: 0 1 auto;
}

#card {
    width: 20em;
}

#content {
    flex: 1 1 auto;
}

.objective-category {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.objective {
    display:flex;
    width: 100%
}

.solved-checkbox {
    width: 5%;
}

.objective-name {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.objective-name {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.objective-icons {
    width: 20%;
}

div .custom-btn-container {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}